*{
    padding: 0px;
    margin: 0px;
}
/* 顺序：定位类的、图像类的、大小类的 */
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
/* 头部 */
header{
    display: flex;
    position: sticky;
    /* justify-content: space-between; */

    background-color: gray;
    overflow-x:scroll;
    overflow-y: hidden;

    width: 100%;
    height: 15%;
}
/* 隐藏头部滑动条 */
header::-webkit-scrollbar {
    display: none;
}
/* 隐藏页面滑动条 */
body::-webkit-scrollbar {
    display: none;
  }

/* 导航栏左盒子 */
#headerleft{
    display: flex;
    flex: 1;
    justify-content:space-evenly;
    align-items: center;
}
/* 导航栏右盒子 */
#headerright{
    flex: 1;
    display: flex;
    /* justify-content:space-evenly; */
    align-items: center;
}
/* 头像 */
#head{

    background-image: url('head.jpg');
    border-radius: 100%;
    background-size: cover;

    width: 6rem;
    height: 5rem;
}
/* 签名 */
#sign{

    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
/* 眼睛图标 */
#iconeye{

    background-image: url('iconeye.png');
    border-radius: 100%;
    background-size: cover;
    background-position: 50%;
    z-index: 99;

    height: 8vh;
    width: 5vw;

}
/* 跳转导航栏 */
nav{
    display: flex;
    justify-content:space-evenly;

    height: 100%;
    width: 100%;
}
/* 跳转导航栏 */
nav ul{
    display: flex;
    justify-content:space-evenly;
    align-items: center;


    list-style-type: none;

    height: 100%;
    width: 100%; 
}
/* 每个链接对应的框框 */
nav ul li{
    display: flex;
    align-items: center;

    background-color: #333;

    height: 100%;
}
/* 对超链接设计样式 */
nav ul li a {

    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;

    padding: 10px 20px;
  }

nav ul li a:hover {
    background-color: #555;
  }
  
  nav ul li a.active {
    background-color: #777;
  }

/* 主体 */
.main{
    display: flex;

    min-width: 100%;
}
/* 左部 */
.left{
    display: flex;
    flex: 4;
    background-color: aqua;
}
/* 右部 */
.right{
    display: flex;
    flex: 3;
    flex-direction: column;

    background-color: aquamarine;
}
/* 右上 */
.top{
    display: flex;
    flex: 1;

    background-color: bisque;

    min-height: 50vh;
    min-width: 42.8%;
}
/* 右下 */
.buttom{
    display: flex;
    flex: 1;

    background-color: purple;

    min-height: 50vh;
}